Django==4.2.5
djangorestframework==3.15.0
django-cors-headers==3.13.0
mongoengine>=0.27.0
gunicorn==23.0.0
requests==2.32.3
python-dotenv>=1.0.1
dnspython==2.3.0
drf-spectacular>=0.28.0
PyJWT==2.8.0
bcrypt>=4.0.1
