<div class="user-popup">
  <button type="button" class="user-button" (click)="togglePopup()">
    <div class="user-avatar">
      <!-- Imagen de usuario -->
    </div>
    <mat-icon
      aria-hidden="false"
      aria-label="arrow drop down icon"
      fontIcon="arrow_drop_down"
    ></mat-icon>
  </button>

  <div class="user-menu" [hidden]="!isOpen">
    <ul>
      <li>
        <a routerLink="/" class="user-menu-item">
          <mat-icon fontIcon="person"></mat-icon>
          Tu perfil
        </a>
      </li>
      <li>
        <a routerLink="/" class="user-menu-item">
          <mat-icon fontIcon="history"></mat-icon>
          Historial de chats
        </a>
      </li>
      <li>
        <a routerLink="/login" class="user-menu-item">
          <mat-icon fontIcon="logout"></mat-icon>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</div>
